; vim: filetype=clojure
; -*- mode: Clojure -*-

(logging/init)

(tcp-server :host "0.0.0.0")
(udp-server :host "0.0.0.0")
(ws-server :host "0.0.0.0")
(repl-server :host "0.0.0.0")

(periodically-expire 10)

(let [client (tcp-client)
  ; Keep events for 5 minutes by default
  index (default :ttl 300 (update-index (index)))]

  (streams
    ; log expired events
    (expired
      (fn [event] (info "expired" event)))

    ; log all tagged events
    (where (not (nil? tags))
      #(info "received event" %))

    index
))
